<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>&#127799 userssss list! &#127799</title>
</head>
<body>
    <div>

        <a th:href="@{/user/add}">new here? add a new user first :)</a>

    </div>
    <div>

        <table width="100%" border="3">
            <thead>
            <tr>
                <th>&#127799 ID</th>
                <th>&#127799 FIRST NAME</th>
                <th>&#127799 LAST NAME</th>
                <th>&#127799 AGE</th>
                <th>&#127799 EMAIL</th>
                <th>&#127799 UPDATE</th>
                <th>&#127799 DELETE</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${user}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td><a th:href="@{/user/update/{id} (id=${user.id})}">update</a></td>
                <td><a th:href="@{/user/delete/{id} (id=${user.id})}">delete</a></td>
                <td>
                    <a th:href="@{/user/update/{id}(id=${user.id})}">UPDATE</a>
                </td>
                <td>
                    <a th:href="@{/user/delete/{id}(id=${user.id})}">DELETE</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>